[package]
name = "mandelbrot_rs"
version = "0.1.0"
edition = "2021"

[lib]
name = "mandelbrot_rs"
crate-type = ["cdylib"]

[dependencies]
pyo3 = { version = "0.23", features = ["extension-module"] }
numpy = "0.23"
rayon = "1.8"
